---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
import { getTableColumns, getProducts } from "@/data/youtube-mp3-converters";

const t = useTranslations(Astro.currentLocale as Lang);

// 从数据文件获取表格列和产品数据
const tableColumns = getTableColumns(t);
const products = getProducts(t);
---

<Layout
  title="Quickly Find Good YouTube to MP3 Converters"
  description="Say goodbye to bad YouTube to MP3 tools! Our website has simple reviews and comparison tables to help you quickly find tools that work, have no ads, and have good sound quality, saving you time."
>
  <div class="container mx-auto px-4">
    <div class="w-full max-w-5xl mx-auto my-6">
      <h1 class="text-3xl font-bold mb-6 text-center">
        Youtube to MP3 Converter<span class="text-theme">s</span>
      </h1>
      <h2 class="text-xl font-bold my-3">Do you often feel annoyed because:</h2>
      <p>
        You want to save your favorite music, podcasts, or talks from YouTube as
        MP3s to listen to whenever you want, but it's hard to find a converter
        tool that really works well?
      </p>

      <p>
        Online converter websites either have too many ads that make it annoying
        to use, or the information isn't clear, so you don't know which tool is
        better?
      </p>

      <h2 class="text-xl font-bold my-3">Don't worry!</h2>
      <p>
        Our website is here to help. We have collected over <b
          class="font-bold text-theme text-xl">{products.length}</b
        > websites that offer YouTube to MP3 conversion. We give you simple and easy-to-understand
        reviews of these tools. We have carefully checked and tried out many of them,
        and we show you the important things about them quickly in an easy-to-read
        table. This table tells you if the tool has ads, if it works, if it's free,
        and about how good the sound quality is. With so many options in one place,
        you don't need to read long reviews. You can easily see the good and bad
        points of different tools and quickly find the best one for what you need!
      </p>
    </div>

    <div class="relative overflow-x-auto shadow-sm sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right">
        <thead class="text-xs uppercase bg-gray-700 text-white sticky top-0">
          <tr>
            {
              tableColumns.map((column) => (
                <th
                  scope="col"
                  class={`px-6 py-3 whitespace-nowrap ${column.class}`}
                >
                  {column.text}
                </th>
              ))
            }
          </tr>
        </thead>
        <tbody>
          {
            products.map((product) => (
              <tr class="border-b border-gray-200 hover:bg-gray-100 dark:border-gray-700 dark:hover:bg-gray-700">
                {tableColumns.map((column) => (
                  <td class={`px-6 py-4 ${column.class}`}>
                    {product[column.key] && (
                      <div>
                        <Fragment set:html={product[column.key]?.value} />
                      </div>
                    )}

                    {product[column.key] && product[column.key]?.remark && (
                      <div class="text-gray-500 text-xs">
                        {product[column.key]?.remark}
                      </div>
                    )}
                  </td>
                ))}
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>


    <!-- <h2>How to test</h2> -->
    <!-- https://www.youtube.com/watch?v=vuKXZEz7JGQ -->
    <!-- https://www.youtube.com/watch?v=ouuPSxE1hK4 -->
    <!-- https://www.youtube.com/watch?v=VrTVeYm4iIM -->
  </div>
</Layout>

<style></style>
